@use 'colors';
@use 'vars';

.passenger-list-item {
  @include vars.slant($padding-v: 2.5px);
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  &:hover {
    background: vars.$gradient-2, colors.$cultured;

    .delete { display: block; }
  }

  .name {
    font-weight: 700;
    margin-right: 0.5em;
  }

  .weight {
    font-size: 14pt;
    font-weight: 200;
    margin-right: 0.5em;
  }

  .icon {
    img {
      height: 16px;
      width: 16px;
    }
  }

  img {
    margin-right: 0.1em;
  }

  .delete {
    display: none;
    flex-grow: 1;
    text-align: right;

    input[type=submit] {
      background: none;
      border: 0;
      color: vars.$body-color;
      font-weight: 700;
      margin: 0;
      padding: 0;

      &:active {
        transform: translate(1px, 1px);
      }
    }
  }
}

// reduce the size of the weight inputs
#passenger_weight,
#passenger_bags_weight {
  width: 120px;
}

// increase spacing between sections on flights/edit
#new-passenger-frame form {
  margin-bottom: 40px;
}

// tighten up spacing between new pax form and pax list
#passengers p {
  margin: 10px 0;
}

#passenger-welcome {
  p,
  blockquote { font-size: 12pt; }
}
